<h3 id="totalCost">Current Total: ${{totalCost}}.00</h3>

<h2>Current items in cart:</h2>

{{#each shoppingCart.items as |item|}}
  <div class="row">

      <div class="well">
        <h2>{{item.description}}</h2>
        <h3>${{item.price}}</h3>
        <img class="img-responsive" id="cartImage" src="{{item.image}}" alt="{{item.description}}"/>

      </div>
  
  </div>
{{/each}}
