<h1>Look, {{item.description}}!- ${{item.price}}</h1>

<img id="detailImage" src="{{item.image}}" alt="{{item.description}}" />

<h2>More Details</h2>
<h4>Size: {{item.size}}</h4>
<h4>About this:</h4> <p>{{item.details}}</p>
<h3>Reviews go here</h3>
