<form class="ui form" {{action 'login' on="submit"}}>
  <div class="field">
    <label for="name">Name</label>
    {{input value=name type="text" required="required"}}
  </div>
  <div class="field">
    <label for="password">Password</label>
    {{input value=password type="password" required="required"}}
  </div>
  <div class="grouped inline fields">
    <div class="field">
      {{ui-radio name="admin" label="admin" value="admin" current=user onChange=(action (mut user))}}
    </div>
    <div class="field">
      {{ui-radio name="customer" label="customer" value="customer" current=user onChange=(action (mut user))}}
    </div>
  </div>

  <button type="submit" class="ui primary button">Login</button>
</form>
