{{log item}}
{{#link-to 'review' item.id}}
<h2>{{item.description}}, ${{item.price}}.00</h2>
<h4>{{item.details}}</h4>
<img src={{item.image}} alt="" />
{{/link-to}}
<br>
<button class="ui primary button" {{action 'addToCart' item}}>Add To Cart</button>
