{{#each menSort as |men|}}
  {{#link-to 'review' men.id}}
  <h2>{{men._data.description}}, ${{men._data.price}}.00</h2>
  <h4>{{men._data.details}}</h4>
  <img src={{men._data.image}} alt="" />
  {{/link-to}}
  <br>
  <button class="ui primary button" {{action 'addToCart' men._data}}>Add To Cart</button>
{{/each}}
