{{#link-to 'review' shoe.id}}
<h2>{{shoe.description}}, ${{shoe.price}}.00</h2>
<h4>{{shoe.details}}</h4>
<img src={{shoe.image}} alt="" />
{{/link-to}}
<br>
<button class="ui primary button" {{action 'addToCart' shoe._data}}>Add To Cart</button>
