{{#each shoeSort as |shoe|}}
  {{log shoe.id}}
  {{#link-to 'review' shoe.id}}
  <h2>{{shoe._data.description}}, ${{shoe._data.price}}.00</h2>
  <h4>{{shoe._data.details}}</h4>
  <img src={{shoe._data.image}} alt="" />
  {{/link-to}}
  <br>
  <button class="ui primary button" {{action 'addToCart' shoe}}>Add To Cart</button>
{{/each}}
